<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nz.co.mapper.CouponTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nz.co.model.CouponTaskDO">
        <id column="id" property="id" />
        <result column="coupon_record_id" property="couponRecordId" />
        <result column="create_time" property="createTime" />
        <result column="serial_num" property="serialNum" />
        <result column="lock_state" property="lockState" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, coupon_record_id, create_time, serial_num, lock_state
    </sql>

    <sql id="Base_Column_List_NO_ID">
        coupon_record_id, create_time, serial_num, lock_state
    </sql>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into coupon_task (include refid = "Base_Column_List_NO_ID")
        values
        <foreach collection="couponTaskDOs" item="couponTask" index="index" separator=",">
            (
                #{couponTask.coupon_record_id},
                #{couponTask.create_time},
                #{couponTask.serial_num},
                #{couponTask.lock_state}
            )
        </foreach>
    </insert>

</mapper>
