<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nz.co.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="nz.co.model.ProductDO">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover_img" property="coverImg" />
        <result column="detail" property="detail" />
        <result column="price" property="price" />
        <result column="create_time" property="createTime" />
        <result column="old_price" property="oldPrice" />
        <result column="lock_stock" property="lockStock" />
        <result column="stock" property="stock" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, cover_img, detail, price, create_time, old_price, lock_stock, stock
    </sql>
    <update id="lockStock">
        update product set lock_stock=lock_stock+#{buyNum}
        where id=#{id} and stock - lock_stock >=#{buyNum}
    </update>

</mapper>
